/* CSS Box Model In-Class Exercise
--------------------------------------------------*/
html {
	padding: 0;
	margin: 0;
}
header{
	height: 200px;
	width: 960px;
	position: top;
	background-color: white;
	border: 10px dotted red;
	padding: 10px;
	margin: 20px;
}
main{
	width: 960px;
	background-color: lightgrey;
	border: 10px dashed orange;
	padding: 10px;
	margin: 20px;
	display: inline-block;
}
aside{
	width: 240px;
	background-color: white;
	border: 10px solid yellow;
	padding: 10px;
	margin: 0;
	float: left;
}
section{
	background-color: white;
	border: 10px double green;
	padding: 10px;
	margin: 0;
	position: relative;
	overflow: hidden;
}
section h2 p img{
	float: right;
	margin-left: 10px;
}
footer{
	clear: both;
	width: 960px;
	background-color: lightgrey;
	border: 10px dashed magenta;
	padding: 10px;
	margin: 20px;
}
